div.wrapper.another_class#div_id
	p Hello!
	span#check_it_out_id check this out its pug
	img.dog(src="something.jpg" alt="somthing picture") 
	h3 second heading
h2(style="margin-left:10px;") First Heading